.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.lorem-paragraph {
    font-weight: 500;
}

.contact-form {
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas:
        "name name  email email"
        "phone phone phone phone"
        "add-number add-number add-number add-number"
        "message message message message"
        "checkbox . . ."
        "address-container address-container address-container address-container"
        "address-container address-container address-container address-container"
        /* "address-1 address-1 address-2 address-2"
        "city state postcode country"*/
        "submit submit submit submit";
}

.optional {
    font-style: italic;
}

input,
textarea {
    border-radius: 4px;
    border: 1px solid var(--light-grey);
    background-color: var(--lightest-grey);
    width: 100%;
}

.checkbox-btn input {
    width: auto;
}

input {
    padding: 10px 0;
}

.name {
    grid-area: name;
}
.email {
    grid-area: email;
}
.phone {
    grid-area: phone;
}
.message {
    grid-area: message;
}

/* .checkbox-container {
    grid-area: checkbox-container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "checkbox checkbox checkbox checkbox"
        "address-container address-container address-container address-container";
}
*/

.address-container {
    grid-area: address-container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas:
        "address-1 address-1 address-2 address-2"
        "city state postcode country";
}

.address-1 {
    grid-area: address-1;
}

.address-2 {
    grid-area: address-2;
}
.city-town {
    grid-area: city;
}
.state-county {
    grid-area: state;
}
.postcode {
    grid-area: postcode;
}
.country {
    grid-area: country;
}

.add-number-btn {
    grid-area: add-number;
    margin: 20px 0 20px;
    background-color: var(--lightest-blue);
    color: var(--fb-blue);
    font-weight: 500;
    padding: 10px 0 10px;
    border-radius: 4px;
    border: none;
}

.checkbox-btn {
    grid-area: checkbox;
    margin-top: 10px;
}

.submit-btn {
    grid-area: submit;
    margin: 20px 0 20px;
    background-color: var(--fb-blue);
    color: white;
    font-weight: 500;
    padding: 10px 0 10px;
    border-radius: 4px;
    border: none;
}

.logo-container {
    background-image: url("../resources/Img_Contact.png");
    width: 60%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
}
