.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-one {
    display: flex;
    width: 100%;
    align-items: flex-start;
    height: 700px;
    overflow: hidden;
    z-index: 1;
    top: -190px;
    position: relative;
}

.section-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.86), #0000);
    z-index: 1;
}

.section-one h1 {
    font-weight: 600;
    font-size: 32px;
}

.section-one h3 {
    font-weight: 400;
    font-size: 18px;
}

.woman-glasses {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.section-one-textbox {
    color: var(--off-white-color);
    width: 27%;
    padding: 30px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: calc(20% + 70px);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.section-one-btn {
    margin: 50px 0 25px;
}

.section-one-btn a {
    padding: 14px 30px;
    background-color: var(--fb-blue);
    color: var(--off-white-color);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.section-two {
    display: flex;
    /* width: 60%; */
    padding: 30px 150px;
    align-items: center;
    margin: -170px 0 auto;
}

.section-two-text {
    width: 50%;
    margin: 50px;
}

.section-two-btn {
    padding: 14px 30px;
    background-color: var(--fb-blue);
    color: var(--off-white-color);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    margin: 20px auto;
}

.section-two-image {
}

.section-two-image img {
    border-radius: 3px;
}

.section-three {
    display: flex;
    width: 100%;
    align-items: center;
}

.section-three-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 500px;
}

.section-three-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    top: -60px;
}

.section-three-image img {
    width: 100%;
}

.section-three-textbox {
    background-color: var(--brown-color);
    color: var(--off-white-color);
    width: 27%;
    padding: 30px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: calc(20% + 70px);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.section-three-btn {
    padding: 14px 30px;
    background-color: var(--off-white-color);
    color: var(--fb-blue);
    border-radius: 3px;
    border: none;
    font-weight: bold;
}

.section-four {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    align-items: center;
    padding: 30px 150px;
    margin-bottom: 25px;
}

.section-four-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 25px;
}

.section-four-title h2,
.section-four-title h3 {
    margin: 0;
}
.section-four-columns {
    column-count: 3;
    column-gap: 20px;
}

.section-four-columns p {
    margin: 0;
}

.section-four-btn {
    margin: 50px 0 25px;
}

.section-four-btn a {
    padding: 14px 30px;
    background-color: var(--fb-blue);
    color: var(--off-white-color);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
