.footer-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    padding: 10px 0 10px;
    border-top: 1px solid var(--light-grey);
    background-color: var(--off-white-color);
    z-index: 10;
}

.footer-text {
    font-weight: 250;
    font-size: 10px;
}
.avamae {
    border-bottom: 1.2px solid var(--light-grey);
}
