.nav-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
}
.nav-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logo-image {
    height: 20px;
}

.link-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 10px;
}

.nav-link a {
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 470;
}

.nav-link a:link,
.nav-link a:visited {
    color: var(--text-color);
}

.login-btn {
    padding: 14px 27px;
    background-color: var(--lightest-blue);
    color: var(--fb-blue);
    border-radius: 3px;
    border: none;
}
