:root {
    --off-white-color: #fafafa;
    --text-color: #535353;
    --light-grey: #dadada;
    --fb-blue: rgb(24, 130, 191);
    --lightest-blue: rgba(133, 206, 255, 0.144);
    --lightest-grey: rgba(207, 217, 227, 0.11);
}

html,
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.8;
    background-color: var(--off-white-color);
    color: var(--text-color);
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pages-container {
    display: flex;
    width: 70%;
    flex-direction: column;
}
